{% extends 'base.html' %}

{% block content %}
    <body>
        <style>
            * {
                box-sizing:border-box;
            }

            /* basic stylings ------------------------------------------ */
            .container{
                font-family:'Roboto';
                width:800px;
                margin:30px auto 0;
                display:block;
                text-align: center;
                width: 25%;
                padding: 10px;
            }


            /* form starting stylings ------------------------------- */
            .group{
                position:relative;
                margin-bottom:45px;
                text-align: center;
            }

            input{
                font-size:18px;
                padding:10px 10px 10px 5px;
                display:block;
                width:300px;
                border:none;
                border-bottom:1px solid #757575;
                background-color: transparent;
                margin: auto;
                width: 50%;
                padding: 10px;
            }

            input:focus{
                outline:none;
            }

            /* LABEL ======================================= */
            label{
                color:#999;
                font-size:18px;
                font-weight:normal;
                position:absolute;
                pointer-events:none;
                left:40px;
                top:10px;
                transition:0.2s ease all;
                -moz-transition:0.2s ease all;
                -webkit-transition:0.2s ease all;
                margin: auto;
                width: 50%;
                padding: 5px;
            }

            /* active state */
            input:focus ~ label, input:valid ~ label{
                top:-5px;
                font-size:14px;
                color:#4FC3A1;
            }

            /* active state */
            input:focus ~ .bar:before, input:focus ~ .bar:after {
                width:50%;
            }

            /* HIGHLIGHTER ================================== */
            .highlight{
                position:absolute;
                height:60%;
                width:100px;
                top:25%;
                left:0;
                pointer-events:none;
                opacity:0.5;
            }

            /* active state */
            input:focus ~ .highlight{
                -webkit-animation:inputHighlighter 0.3s ease;
                -moz-animation:inputHighlighter 0.3s ease;
                animation:inputHighlighter 0.3s ease;
            }

            /* ANIMATIONS ================ */
            @-webkit-keyframes inputHighlighter{
                from {
                    background:#5264AE;
                }
                to{
                    width:0; background:transparent;
                }
            }

            @-moz-keyframes inputHighlighter{
                from {
                    background:#5264AE;
                }
                to{
                    width:0; background:transparent;
                }
            }

            @keyframes inputHighlighter{
                from{
                    background:#5264AE;
                }
                to{
                    width:0; background:transparent;
                }
            }

            button{

            }

















            /* Table Styles */

            .table-wrapper{
                display: inline-block;
                margin: 550px 70px 70px;
                box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
            }

            .fl-table {
                border-radius: 5px;
                font-size: 14px;
                font-weight: normal;
                border: none;
                border-collapse: collapse;
                width: 100%;
                max-width: 100%;
                height: 20%;
                white-space: wrap;
                background-color: white;
            }

            .fl-table td, .fl-table th {
                text-align: center;
                padding: 8px;
                font-weight: bold;
                width: 500px;
            }

            .fl-table td {
                border-right: 1px solid #f8f8f8;
                font-size: 14px;
            }

            .fl-table thead th {
                color: #ffffff;
                background: #4FC3A1;
            }

            .fl-table thead th:nth-child(odd) {
                color: #ffffff;
                background: #324960;
            }

            .fl-table tr:nth-child(even) {
                background: #F8F8F8;
            }

            /* Responsive */

            @media (max-width: 100%) {
                .fl-table {
                    display: block;
                    width: 100%;
                }

                .table-wrapper:before{
                    content: "Scroll horizontally >";
                    display: block;
                    text-align: right;
                    font-size: 11px;
                    color: white;
                    padding: 0 0 10px;
                }

                .fl-table thead, .fl-table tbody, .fl-table thead th {
                    display: block;
                }

                .fl-table thead th:last-child{
                    border-bottom: none;
                }

                .fl-table thead {
                    float: left;
                }

                .fl-table tbody {
                    width: 100%;
                    position: relative;
                    overflow-x: auto;
                }

                .fl-table td, .fl-table th {
                    padding: 20px .625em .625em .625em;
                    height: 60px;
                    vertical-align: middle;
                    box-sizing: border-box;
                    overflow-x: hidden;
                    overflow-y: auto;
                    width: 120px;
                    font-size: 13px;
                    text-overflow: ellipsis;
                }

                .fl-table thead th {
                    text-align: left;
                    border-bottom: 1px solid #f7f7f9;
                }

                .fl-table tbody tr {
                    display: table-cell;
                }

                .fl-table tbody tr:nth-child(odd) {
                    background: none;
                }

                .fl-table tr:nth-child(even) {
                    background: transparent;
                }

                .fl-table tr td:nth-child(odd) {
                    background: #F8F8F8;
                    border-right: 1px solid #E6E4E4;
                }

                .fl-table tr td:nth-child(even) {
                    border-right: 1px solid #E6E4E4;
                }

                .fl-table tbody td {
                    display: block;
                    text-align: center;
                }
            }
    </style>
        <div class="container">
            <form>
                <div>
                    <select id="dropDown">
                    </select>
                    <button type="button" onClick="addFav()">Add to favorites</button>
                </div>

                <div class="group">
                    <input type="number" id="priceBox" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Price</label>


                <div class="group">
                    <input type="number" id="amountBox" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Amount($)</label>
                </div>

                <div id="prompt">
                    <p id="lab"></p>
                </div>

                <div>
                    <button type="button" id="buy" onClick="receipt()">Buy</button>
                    <button type="button" id="sell" onClick="receipt()">Sell</button>
                </div>
        </div>

        <div class="table-wrapper">
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th id="11">Date</th>
                            <th id="12">Coin/Pair</th>
                            <th id="13">Price</th>
                            <th id="14">Quantity</th>
                            <th id="15">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="21"></td>
                            <td id="22"></td>
                            <td id="23"></td>
                            <td id="24"></td>
                            <td id="25" onClick="removeLine(2)"></td>
                        </tr>
                        <tr>
                            <td id="31"></td>
                            <td id="32"></td>
                            <td id="33"></td>
                            <td id="34"></td>
                            <td id="35" onClick="removeLine(3)"></td>
                        </tr>
                        <tr>
                            <td id="41"></td>
                            <td id="42"></td>
                            <td id="43"></td>
                            <td id="44"></td>
                            <td id="45" onClick="removeLine(4)"></td>
                        </tr>
                        <tr>
                            <td id="51"></td>
                            <td id="52"></td>
                            <td id="53"></td>
                            <td id="54"></td>
                            <td id="55" onClick="removeLine(5)"></td>
                        </tr>
                        <tr>
                            <td id="61"></td>
                            <td id="62"></td>
                            <td id="63"></td>
                            <td id="64"></td>
                            <td id="65" onClick="removeLine(6)"></td>
                        </tr>
                        <tbody>
                    </table>
                </div>

        <script>
            window.onload = function pageInit() {
                getBalance();
                fetchDropDown();
                fetchTable();
                initPrompt();
            }
                const fetchDropDown = () => {
                        fetch("https://michel-app.herokuapp.com/api/getAllPairs")
                        .then(response => response.json())
                        .then(data => {
                            var dd = document.getElementById("dropDown");
                            for (var i in data) {
                                var option = document.createElement("OPTION");
                                option.text = data[i]['coin']+'/'+data[i]['pair'];
                                dd.add(option);
                            }
                        });
                }

                const initPrompt = () => {
                    document.getElementById("lab").style.visibility = "hidden";
                }

                const receipt = () => {
                    var event = window.event.target.id;
                    var lab = document.getElementById("lab");
                    lab.style.color = "#B24A4A";
                    lab.style.fontWeight = "bold";
                    if(!document.getElementById("priceBox").value || !document.getElementById("amountBox").value){
                        lab.innerHTML = "Price or amount can't be blank!";
                        lab.style.visibility = "visible";
                    }else{
                        var price = parseFloat(document.getElementById("priceBox").value);
                        var amount = parseFloat(document.getElementById("amountBox").value);
                        var total = (amount / price).toFixed(2);
                        lab.innerHTML = "Total: " + total + " coins";
                        lab.style.visibility = "visible";
                        if(document.getElementsByClassName("okBtn")[0]){
                            document.getElementsByClassName("okBtn")[0].style.visibility = "visible";
                            document.getElementsByClassName("cancelBtn")[0].style.visibility = "visible";
                        }else
                            createReceiptButtons(total, event);
                    }
                }

                const createReceiptButtons = (total, event) => {
                    var ok = document.createElement("Button");
                    ok.style.color = "white";
                    ok.innerHTML = "OK";
                    ok.style.backgroundColor = "#4FC3A1";
                    ok.style.marginRight = "2px";
                    ok.style.fontWeight = "bold";
                    ok.className = "okBtn";
                    ok.type = "button";
                    document.getElementById("prompt").appendChild(ok);
                    ok.addEventListener('click', function() { routing(total, event); });

                    var cancel = document.createElement("Button");
                    cancel.style.color = "white";
                    cancel.innerHTML = "Cancel";
                    cancel.style.backgroundColor = "#B24A4A";
                    cancel.style.fontWeight = "bold";
                    cancel.className = "cancelBtn";
                    cancel.type = "button";
                    document.getElementById("prompt").appendChild(cancel);
                    cancel.addEventListener('click', function() { hidePrompt(); });
                }

                const routing = (total, event) => {
                    if(event == "buy")
                        checkBalance(total);
                    else
                        checkPortfolio(total);
                }

                const hidePrompt = () => {
                    document.getElementById("lab").style.visibility = "hidden";
                    document.getElementsByClassName("okBtn")[0].style.visibility = "hidden";
                    document.getElementsByClassName("cancelBtn")[0].style.visibility = "hidden";
                }

                const checkBalance = (total) => {
                    const lab = document.getElementById("lab");
                    var amount = parseFloat(document.getElementById("amountBox").value);
                    fetch('https://michel-app.herokuapp.com/api/getBalance/')
                        .then(response => response.json())
                        .then(data => {
                            if(data.balance >= amount)
                                postOrder("buy");
                            else{
                                lab.innerHTML = "Not enough balance!";
                                document.getElementsByClassName("okBtn")[0].style.visibility = "hidden";
                                document.getElementsByClassName("cancelBtn")[0].style.visibility = "hidden";
                            }
                        })
                }

                const checkPortfolio = (total) => {
                    var tot = 0;
                    var tal = 0;
                    if(String(total).includes(".")){
                        var arr = total.split(".");
                        tot = parseInt(arr[0]);
                        tal = parseInt(arr[1]);
                    }
                    var sel = document.getElementById("dropDown");
                    var pair = sel.options[sel.selectedIndex].value;
                    fetch('https://michel-app.herokuapp.com/api/checkPortfolio/'+tot+'/'+tal+'/'+pair)
                        .then(response => response.text())
                        .then(data => {
                            if(data == 'True')        //True if amount <= owned coins
                                postOrder("sell");
                            else{
                                lab.innerHTML = "Not enough coins owned!";
                                document.getElementsByClassName("okBtn")[0].style.visibility = "hidden";
                                document.getElementsByClassName("cancelBtn")[0].style.visibility = "hidden";
                            }
                        })
                }

                const postOrder = (event) => {
                    var price = document.getElementById("priceBox").value;
                    if(price.includes(".")){
                        var arr = price.split(".");
                        price = arr[0];
                        var dec = arr[1];
                    }else
                        var dec = "0";
                    var amount = document.getElementById("amountBox").value;
                    if(amount.includes(".")){
                        var arr = amount.split(".");
                        amount = arr[0];
                        var dec2 = arr[1];
                    }else
                        var dec2 = "0";
                    var sel = document.getElementById("dropDown");
                    var pair = sel.options[sel.selectedIndex].value;
                    if(event == "buy"){
                        fetch("https://michel-app.herokuapp.com/api/"+pair+"/"+price+"/"+dec+"/"+amount+"/"+dec2+"/buy");
                        fetch("https://michel-app.herokuapp.com/api/updateBalance/"+amount+"/"+dec2+"/buy");
                    }else{
                        fetch("https://michel-app.herokuapp.com/api/"+pair+"/"+price+"/"+dec+"/"+amount+"/"+dec2+"/sell");

                    }
                    location.reload();
                }

                const getBalance = () => {
                fetch('https://michel-app.herokuapp.com/api/getBalance')
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById("balance").innerHTML = data.balance+"$";
                    })
                }

                const fetchTable = () => {
                    fetch('https://michel-app.herokuapp.com/api/fetchOpenOrders')
                        .then(response => response.json())
                        .then(data => {
                            var n = 2;
                            for(var i in data){
                                if(parseInt(n) <= 6){
                                    document.getElementById(String(n)+"1").innerHTML = data[n-2].time;
                                    if(data[n-2].event == "buy")
                                        document.getElementById(String(n)+"1").style.backgroundColor = "#4FC3A1";
                                    else
                                        document.getElementById(String(n)+"1").style.backgroundColor = "#B24A4A";
                                    document.getElementById(String(n)+"1").value = String(data[n-2].id);
                                    document.getElementById(String(n)+"2").innerHTML = data[n-2].pair;
                                    document.getElementById(String(n)+"3").innerHTML = data[n-2].price;
                                    document.getElementById(String(n)+"4").innerHTML = data[n-2].amount;
                                    document.getElementById(String(n)+"3").innerHTML = document.getElementById(String(n)+"3").innerHTML + "$";
                                    initRemoveButton(String(n)+"5");
                                }
                                n++;
                            }
                        })
                }

                const initRemoveButton = (n) => {
                    var xButton = document.createElement("BUTTON");
                    xButton.innerHTML = "X";
                    xButton.style.color = "#B24A4A";
                    xButton.style.fontWeight = "bold";
                    xButton.style.fontSize = "18px";
                    xButton.style.backgroundColor = "transparent";
                    xButton.style.border = "none";
                    xButton.type = "button";
                    document.getElementById(n).appendChild(xButton);
                }

                const removeLine = (n) => {
                    var amount = document.getElementById(String(n)+"4").innerHTML;
                    var dec2 = 0;
                    if(amount.includes(".")){
                        var arr = amount.value.split(".");
                        amount = arr[0];
                        dec2 = arr[1];
                    }
                    if (document.getElementById(String(n)+"1").style.backgroundColor == "rgb(79, 195, 161)"){
                        fetch("https://michel-app.herokuapp.com/api/updateBalance/"+amount+"/"+dec2+"/sell")
                            .then(response => {
                                if(response)
                                    alert("Removed from list. Refunded " + (parseFloat(amount) + parseFloat(dec2)) + "$");
                                else
                                    alert("Something went wrong. Try again!");
                            })
                    }
                    var index = document.getElementById(String(n)+"1").value;
                    document.getElementById(String(n)+"1").remove();
                    document.getElementById(String(n)+"2").remove();
                    document.getElementById(String(n)+"3").remove();
                    document.getElementById(String(n)+"4").remove();
                    fetch('https://michel-app.herokuapp.com/api/deleteOpenOrders/'+index)
                        .then(response => {
                            if(response)
                                alert('Something went wrong. Try again');
                            else
                                alert('Order deleted successfully!');
                        })
                    location.reload();
                }

                const addFav = () => {
                    var sel = document.getElementById("dropDown")
                    var pair = sel.options[sel.selectedIndex].value;
                    fetch('https://michel-app.herokuapp.com/api/addFav/' + pair)
                        .then(response => {
                            if(response)
                                alert('Added to Watchlist successfully!');
                            else
                                alert('Something went wrong. Try again');
                        })
                }
        </script>
    </body>
{% endblock %}